html{
    height: 100vh;
    width: 100%;
    background-image: url(./images/images.jpeg);
    background-size: cover;
    background-position: center;
 
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}




a{
    color: white;
    text-decoration: none;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 5%;
    width: 100%;
    
   
  
}

.aaa{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 10%;
   

  }
.aaa a{
    margin-right: 20px;
}
.hero{
    color:rgb(109, 59, 224);
    font-size: 40px;
    cursor: pointer;
   
}

/* .des{
    width: 15px;
  height: 10px;
    
} */



.class{
    background-image: url(./images/images.jpeg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:600px){ 
    .aaa{
        display: none;
    }
    
}

span{
    color:rgb(96, 56, 152);
}

nav ul a:hover{
    color:rgb(96, 56, 152);

}

.about-me{
    width: 100%;
    padding: 50px 0px;
}

.about-me img{
    height: auto;
    width: 150px;
    /* box-shadow: 50px 0px 50px pink; */
    border-radius: 10% 10% 10%;
    margin-left: 300px;

}

.text{
    width: 600px;
}

.movie-app {
    width: 600px;
}

.movie-app h3{
    font-weight: 100;
    font-size: medium;
    color: rgb(202, 197, 197);
}

.app2{
    width: 600px;
}


.m{
    
    max-width: 100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    margin-left: 2%;
    justify-content: space-between;
    gap: 1px;
    margin-right: 100px;
   

}



.box{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
  

}


.card img, .movie img, .app3 img, .app4 img{
    width: 500px;
    height: 254px;
    border-radius: 60px 60px 60px;
    

}

.work{
    margin-left: 30%;
    padding-bottom: 5%;
    color:  white;
    
    
}


.card img:hover, .app2 img:hover, .app3 img:hover, .app4 img:hover{
    transform: scale(1.5);
    
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 50px;
}

.items2 li{
    color: rgb(202, 197, 197);
}

.skillss h3{
    color: rgb(133, 122, 122);
}

.movie-app h2{
    color: rgb(133, 122, 122);
}

.text h2 {
    color: rgb(133, 122, 122);
}

.text h5{
    color: rgb(133, 122, 122);
}

.text p{
    color: gray;
}
.skills h3{
    color: rgb(133, 122, 122);
}
.items1 li{
    color: gray;
}

.card1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 50px;
}

button{
    background-color: rgb(229, 194, 233);
    border-radius: 60px 60px 60px;
}



.a2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 50px;
}

.cont{
    margin-left: 27%;
    padding-bottom: 5%;
    padding-top: 2%;
    justify-content: space-evenly;
    color: aliceblue;
    position: relative;
}

.contact{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}


.contact i{
    height: 50px;
    width: 50px;
    align-items:center;
    justify-content: center;
    background: red;
    margin-left: 30%;
    color:aliceblue;
    text-decoration: none;
    border-radius: 50%;
    border-style: dashed;
    justify-content: space-evenly;
    display: inline-flex;
    font-size: xx-large;
   
    
   
}



.finish{
    margin-left: 43%;
    color:black;
    
}

footer{
    background-image: url(./images/images.jpeg);
    width: 100%;
    height: 13vh;
}

@media screen and (max-width:600px){ 
    .aaa{
        display: none;
    }
    
}